<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Fulfill Confirmation</title>
</head>

<body>
	<h1>Fulfilling Order Confirmation</h1>

	<div>
		Selected orders have been removed from the database. Number of orders removed: <%- number %>
	</div>

    <hr>

    <a href="/home">HOME</a>
</body>

</html>
