<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>McWonald's Menu</title>
</head>

<body>
	<h1>&#10024 Mc<div id="yellow_w">W</div>onald's Menu &#10024</h1>
	<div id="menu-list">
		<ol>
			<li>10pc Chicken Nuggets <strong>($5.00)</strong><br>
				<img src="images/nuggets_menu.jpeg" id="displayedPhoto" alt="Initial Image" width="200" height="200" class="photoContainer"></li>
			<li>5pc Wing<strong> ($10.00)</strong><br>
				<img src="images/wings_menu.png" id="displayedPhoto" alt="Initial Image" width="200" height="200" class="photoContainer"></li>
			<li>Salad <strong>($4.00)</strong><br>
				<img src="images/salad_menu.jpg" id="displayedPhoto" alt="Initial Image" width="200" height="200" class="photoContainer"></li>
			<li>Burger <strong>($9.00)</strong><br>
				<img src="images/burger_menu.jpg" id="displayedPhoto" alt="Initial Image" width="200" height="200" class="photoContainer"></li>
			<br><br><li>Beverage <strong>($1.00)</strong><br>
				<img src="images/bev_menu.jpg" id="displayedPhoto" alt="Initial Image" width="200" height="200" class="photoContainer"></li>
			<li>French Fries <strong>($1.50)</strong><br>
				<img src="images/fries_menu.jpg" id="displayedPhoto" alt="Initial Image" width="200" height="200" class="photoContainer"></li>
			<li>Milkshake <strong>($2.00)</strong><br>
				<img src="images/milkshake_menu.jpg" id="displayedPhoto" alt="Initial Image" width="200" height="200" class="photoContainer"></li>
		</ol>
	</div>
	<br><br><br><br>
	<a href="/home">HOME</a><br>
	<a href="/placeOrder">Place Your Order</a>

	<style>
		body{
			background-color: red;
		}
	
		ol {
  			font-family: Arial, sans-serif;
  			font-size: 16px;
			color: yellow;
			display: inline;
			display: inline-block;
			text-align: center;
		}
		ol li {
  			margin: 10px 0; /* Margin between list items */
 	 		padding-left: 100px; /* Padding to align the text */
  			line-height: 1.6; /* Spacing between lines */
			display: inline-block;
			text-align: center;

		}
		h1 {
            text-align: center;
        }
		#yellow_w {
            display: inline-block;
            color: rgb(255, 255, 0); 
        }
		a:hover {
			color: rgb(155, 46, 46);
            text-decoration: underline;
        }
		a{
			color: yellow;

		}

	</style>
</body>

</html>
